	<!-- Main sidebar -->
			
			<div class="sidebar sidebar-main sidebar-default">
				
				<div class="sidebar-fixed">
				
					
					
					<div class="sidebar-content">
					
					<div class="panel panel-white">
						<div class="panel-heading">
							<div class="panel-title text-semibold">
								<i class="icon-search4 text-size-base position-left"></i>
								Pesquisar
							</div>
						</div>

						<div class="panel-body">
							<form action="#">
								<div class="form-group">
									<div class="has-feedback has-feedback-left">
										<input type="search" class="form-control" placeholder="keywords do anuncio..">
										<div class="form-control-feedback">
											<i class="icon-keyboard text-size-large text-muted"></i>
										</div>
									</div>
								</div>
                                                            
                                                            <span class="text-muted">Apresentar anucidos de </span>
                                                                
								<div class="form-group">
									<div class="checkbox">
										<label class="display-block">
											<input type="checkbox" class="styled" checked="checked"/>
											Membros
										</label>
									</div>

									<div class="checkbox">
										<label class="display-block">
											<input type="checkbox" class="styled" checked="checked"/>
											StartUps
										</label>
									</div>

								</div>
                                                                
                                                            
                                                                <hr/>
                                                                

								<button type="submit" class="btn bg-success-800 btn-block">
									<i class="icon-search4 text-size-base position-left"></i>
									Encontrar anúncios
								</button>
							</form>
						</div>
					</div>
					
                                                
                                            
                                         <!--
                                         <div class="sidebar-category">
						<div class="category-title">
							<span>Mostrar tudo até</span>
							<ul class="icons-list">
                                                            <li>
                                                                <span class="icon-calendar pull-right"></span>
                                                            </li>
							</ul>
						</div>

						<div class="category-content no-padding" style="display: block;">
							<ul class="navigation">
                                                                <li class="active-period"><a href="#">Ao mais recente</a></li>
								<li><a href="#">Janeiro de  2017</a></li>
								<li><a href="#">December de 2016</a></li>
								<li><a href="#">November de 2016</a></li>
								<li><a href="#">October de 2016</a></li>
								<li><a href="#">September de 2016</a></li>
								<li><a href="#">August de 2016</a></li>
								<li><a href="#">July de 2016</a></li>
							</ul>
						</div>
					</div>-->   


						

					</div>
				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
                        
				<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title ">
                                                                    <span style="font-weight: bold;">
                                                                       Partilhar Anúncio
                                                                    </span>
                                                                    <span class="pull-right" style="font-size: 12px;">
                                                                        <span class="icon-minus3"></span> Partilhar  como
									<select class="select_account" style="border:none; color: green;">
										<option>Romildo Cumbe</option>
										<option>AllTrack, Lda</option>
									</select>
                                                                    </span>
								
								
								</h6>
							</div>

							<div class="panel-body">
								<form action="#">
									<div class="form-group">
										<input class="form-control" style="border:none; padding-left:0px; font-size:18px;" placeholder="Escreva o titulo aqui.."/>									
									</div>
									
									<div class="form-group">
										<textarea name="enter-message" class="form-control mb-15" rows="3" cols="1" placeholder="What's on your mind?"></textarea>
									</div>

									<div class="row">
			                    		<div class="col-xs-6">
				                        	
			                    		</div>

			                    		<div class="col-xs-6 text-right">
											<button type="button" class="btn btn-inverse ">Partilhar <i class="icon-share2"></i></button>
										</div>
			                    	</div>
		                    	</form>
	                    	</div>
						</div>
                               
				<div >
					<ul class="media-list">
						
						<li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                
                                                
                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

                                                <li class="media panel-body stack-media-on-mobile">
							<div class="media-left">
								<a href="#">
									<img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
								</a>
							</div>

							<div class="media-body">
								<h6 class="media-heading text-semibold">
									<a href="#">Procuramos um Socio com  skills em Android Development</a>
								</h6>

								<ul class="list-inline list-inline-separate text-muted mb-10">
									<li><span class="text-muted">AllTrack, lda</span></li>
								</ul>

								Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
								
							</div>
							

							<div class="media-right text-nowrap">
								<span class="text-muted">3 days ago</span>
								<br/><br/><br/>
								<ul class="list-inline list-inline-separate text-muted content-group">
									<li><a data-toggle="modal" data-target="#modal_small" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
								</ul>
							</div>
						</li>

					</ul>
				</div>
			<!-- /main content -->

                        
                        
                     
                        <div id="modal_small" class="modal fade" style="display: none;">
					<div class="modal-dialog ">
						<div class="modal-content">
							
                                                    <div class="modal-body" style="padding: 0px;">
                                                            
                                                                <div class="media panel-body stack-media-on-mobile">
                                                                        <div class="media-left">
                                                                                <a href="#">
                                                                                        <img src="webroot/assets/images/demo/brands/ibm.png" class="img-rounded img-lg" alt="">
                                                                                </a>
                                                                        </div>

                                                                        <div class="media-body">
                                                                                <h6 class="media-heading text-semibold">
                                                                                        <a href="#">Procuramos um Socio com  skills em Android Development</a>
                                                                                </h6>

                                                                                <ul class="list-inline list-inline-separate text-muted mb-10">
                                                                                        <li><span class="text-muted">AllTrack, lda</span></li>
                                                                                </ul>

                                                                                Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.

                                                                        </div>


                                                                        <div class="media-right text-nowrap">
                                                                                <span class="text-muted">3 days ago</span>
                                                                                <br><br><br>
                                                                                <ul class="list-inline list-inline-separate text-muted content-group">
                                                                                        <li><a href="#" class="text-muted"><i class="icon-comment-discussion text-warning-300 position-left"></i> 281</a></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
							
                                                                <div class="panel-body" style="background-color: #fcfcfc;">
								<ul class="media-list chat-list content-group">
									

									<li class="media">
										<div class="media-left">
                                                                                        <a href="webroot/assets/images/demo/images/3.png">
												<img src="webroot/assets/images/demo/users/face11.jpg" class="img-circle" alt="">
											</a>
										</div>

										<div class="media-body">
                                                                                        <span style="font-weight: bold;">Pedro Cumbe</span><br/>
											<div class="media-content">Grunted smirked and grew.</div>
											<span class="media-annotation display-block mt-10">13 minutes ago</span>
										</div>
									</li>
                                                                        
                                                                        <li class="media">
										<div class="media-left">
											<a href="webroot/assets/images/demo/images/2.png">
												<img src="webroot/assets/images/demo/users/face11.jpg" class="img-circle" alt="">
											</a>
										</div>

										<div class="media-body">
                                                                                    <span style="font-weight: bold;">Romildo Cumbe</span><br/>
											<div class="media-content">Grunted smirked and grew En asd assandj as djas djas jdasjd asdjasdas djasdjajsdjas as djas djasjd asjd jas asdjas   asds s ds .</div>
											<span class="media-annotation display-block mt-10">13 minutes ago</span>
										</div>
									</li>

									
								</ul>

                                        <span style="font-size: 12px;">
                                                                        <span class="icon-minus3"></span> comentar  como
									<select class="select_account" style="border:none; color: green;">
										<option value="Romildo Cumbe">Romildo Cumbe</option>
										<option value="AllTrack, Lda">AllTrack, Lda</option>
									</select>
                                                                    </span>                                
		                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

		                    	<div class="row">
		                    		<div class="col-xs-6">
                                                    <!--<ul class="icons-list icons-list-extended mt-10">
			                                <li><a href="#" data-popup="tooltip" data-container="body" title="" data-original-title="Send photo"><i class="icon-file-picture"></i></a></li>
			                            	<li><a href="#" data-popup="tooltip" data-container="body" title="" data-original-title="Send video"><i class="icon-file-video"></i></a></li>
			                                <li><a href="#" data-popup="tooltip" data-container="body" title="" data-original-title="Send file"><i class="icon-file-plus"></i></a></li>
			                            </ul>-->
                                                    
		                    		</div>

		                    		<div class="col-xs-6 text-right">
                                                    <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
                                                    <button type="button" class="btn btn-red">
                                                        Comentar
                                                    </button>
		                    		</div>
		                    	</div>
							</div>
                                                    
                                                    </div>

						</div>
					</div>
				</div>