
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="card">
            <form class="form-horizontal" ng-submit="changePassword()">
              <div class="card-block" style="padding: 25px;">
                    <fieldset class="form-group">
                      <label for="exampleInputEmail1" style="font-size: 15px;">Senha actual</label>
                      <input type="password" class="form-control" id="exampleInputEmail1" ng-model="currentPassword" placeholder="" required>
                      <ul style="list-style: none;">
                        <li class="row" ng-repeat="error in validationErrors.password" style="color:red;">
                            - <small>{{error}}</small>
                        </li>
                      </ul>
                      
                      <small class="text-help">Introduza aqui a senha que estas a utilizar actulmnete. </small>
                    </fieldset>
                    <hr style="border-style: dashed;"/>
                    <fieldset class="form-group">
                      <label for="exampleInputPassword1" style="font-size: 15px;">Nova senha</label>
                      <input type="password" style="margin-bottom: 10px;" class="form-control" id="exampleInputPassword1" ng-model="newPassword" placeholder="" required>
                      <small class="text-help">Introduza a tua nova senha aqui. Recomendamos que seja uma senha forte.</small>
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="exampleInputPassword1" style="font-size: 15px;">Confirmar nova senha</label>
                      <input type="password" style="margin-bottom: 10px;" class="form-control" id="exampleInputPassword1" ng-model="newPasswordConfirm" placeholder="" required>
                      <small class="text-help">Re-introduza a tua senha para fins de confirmacao.</small>
                    </fieldset>
              </div>
              <div class="card-footer text-center">
                  <button type="submit" class="btn btn-white btn-rounded"><span class="fa fa-user"></span> Alterar a Senha</button>
              </div>
            </form>
          </div>
        </div>
      </div>
