<div class="" id="settings">
    <!-- Profile info -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Dados pessoais</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form action="#">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                            <input type="text" value="Eugene" class="form-control" readonly="" ng-model="memberInfo.username">
                        </div>
                        <div class="col-md-6">
                            <label>Nome Completo</label>
                            <input type="text" value="Kopyov" class="form-control" ng-model="memberInfo.name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="text" readonly="readonly" ng-model="memberInfo.email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Morada Actual</label>
                            <input type="text" value="Ring street 12" class="form-control" ng-model="memberInfo.city.name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tel.:</label>
                            <input type="text" value="+99-99-9999-9999" class="form-control" ng-model="memberInfo.phone">
                        </div>
                        <div class="col-md-6">
                            <label>Género</label>
                            <select class="select" ng-model="memberInfo.gender">
                                <option value="germany" selected="selected">--Selecione--</option>
                                <option value="france">Feminino</option>
                                <option value="spain">Masculino</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Ocupação</label>
                            <select class="select" ng-model="memberInfo.occupation">
                                <option value="select" selected="selected">--Selecione--</option>
                                <option value="estudante">Estudante</option>
                                <option value="trabalhador">Trabalhador</option>
                                <option value="esttrabalh">Estudante & Trabalhador</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Dominio da Lingua Inglesa</label>
                            <select class="select" ng-model="memberInfo">
                                <option value="select" selected="selected">--Selecione--</option>
                                <option value="basico">Básico</option>
                                <option value="intermedio">Intermédio</option>
                                <option value="avancado">Avançado</option>
                                <option value="fluente">Fluente</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Guardar <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /profile info -->

    <!-- Perfil Tecnico -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Perfil Técnico</h6>
        </div>

        <div class="panel-body">
            <form action="#">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Designer</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Gráfico
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    UI/UX
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Fotógrafo
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Video Maker
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Desenvolvedor/Programador</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Web - FrontEnd
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Web - BackEnd
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Mobile Android
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Mobile Hibrid
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Geral</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Gestor de Projectos
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Engenheiro de Software
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Desenvolvedor Fullstack
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Mencione as Tecnologias/Plataformas/Software usados no teu dia-a-dia</label>

                            <textarea name="enter-message" class="form-control" rows="6" cols="1" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Guardar <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /perfil Tecnico -->

    <!-- Account settings -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Definições da Conta</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form action="#">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                            <input type="text" value="Kopyov" readonly="readonly" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Senha actual</label>
                            <input type="password" value="password" readonly="readonly" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nova senha</label>
                            <input type="password" placeholder="Enter new password" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Repetir senha</label>
                            <input type="password" placeholder="Repeat new password" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Como pretende ser contactado?</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Número de Celular
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    Email
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Guardar <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /account settings -->

</div>
