<div class="page-container" style="min-height:421px">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Registration form -->
            <form action="#" class="registration-form">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="text-center">
                                    <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                                    <h5 class="content-group-lg">Create account <small class="display-block">Todos campos sao obrigatorios</small></h5>
                                </div>

                                <div class="form-group has-feedback">
                                    <input class="form-control" placeholder="Nome Completo" type="text">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-plus text-muted"></i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="First name" type="text">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="Second name" type="text">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="Create password" type="password">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-lock text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="Repeat password" type="password">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-lock text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="Your email" type="email">
                                            <div class="form-control-feedback">
                                                <i class="icon-mention text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <input class="form-control" placeholder="Repeat email" type="email">
                                            <div class="form-control-feedback">
                                                <i class="icon-mention text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <div class="checker"><span class="checked"><input class="styled" checked="checked" type="checkbox"></span></div>
                                            Send me <a href="#">test account settings</a>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <div class="checker"><span class="checked"><input class="styled" checked="checked" type="checkbox"></span></div>
                                            Subscribe to monthly newsletter
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <div class="checker"><span><input class="styled" type="checkbox"></span></div>
                                            Accept <a href="#">terms of service</a>
                                        </label>
                                    </div>
                                </div>

                                <div class="clearfix">
                                    <button type="submit" class="btn btn-default pull-left"><i class="icon-arrow-left13 position-left"></i> Back to login form</button>
                                    <button type="submit" class="btn bg-pink-400 btn-labeled btn-labeled-right pull-right"><b><i class="icon-plus3"></i></b> Create account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /registration form -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>